<div class="tithe-container flexrow">
  <div>
    <span class="tithe-label"><i class="fas fa-coins"></i> Tithe</span>
    <input class="tithe-input" type="number"
      name="system.tithe" value="{{system.tithe}}"
      placeholder="0" />
    <button class="tithe-increase">+</button>
    <button class="tithe-decrease">-</button>
  </div>
</div>