<div class="tithe-container flexrow">
  <div>
    <span class="tithe-label"><i class="fas fa-coins"></i> Tithe</span>
    <span class="tithe-input">{{system.tithe}}</span>
    <button class="tithe-increase">+</button>
    <button class="tithe-decrease">-</button>
  </div>
</div>